<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>20/07/12 16:58:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParallelTests.calcTest()[pri:0, instance:testNG.TestNGParallelTests@43814d18]">calcTest</td> 
  <td>TestNG-test=FunctionalTest-1@1305729111</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/07/12 16:58:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParallelTests2.searchTest()[pri:0, instance:testNG.TestNGParallelTests2@26aa12dd]">searchTest</td> 
  <td>TestNG-test=FunctionalTest3-1@1837463150</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/07/12 16:58:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParallelTests.searchTest()[pri:0, instance:testNG.TestNGParallelTests@2a17b7b6]">searchTest</td> 
  <td>TestNG-test=FunctionalTest2-1@361869141</td>   <td></td> </tr>
<tr bgcolor="9aa799">  <td>20/07/12 16:58:39</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGParallelTests2.setUpClass()[pri:0, instance:testNG.TestNGParallelTests2@26aa12dd]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FunctionalTest3-1@1837463150</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/07/12 16:58:38</td>   <td>-30</td> <td title="&gt;&gt;BaseTest.setUpSuite()[pri:0, instance:testNG.TestNGParallelTests@2a17b7b6]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/07/12 16:58:47</td>   <td>8299</td> <td title="&lt;&lt;BaseTest.tearDownSuite()[pri:0, instance:testNG.TestNGParallelTests@2a17b7b6]">&lt;&lt;tearDownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
</table>
