<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>20/07/12 18:26:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Exercise2.setUpMethod()[pri:0, instance:exercise.Exercise2@23e028a9]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@110771485</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/07/12 18:26:49</td>   <td>3762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exercise2.loginTest()[pri:0, instance:exercise.Exercise2@23e028a9]">loginTest</td> 
  <td>main@110771485</td>   <td></td> </tr>
</table>
