<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>20/07/11 23:43:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParallelTestsDataProvider.searchTest(java.lang.String)[pri:0, instance:testNG.TestNGParallelTestsDataProvider@2758fe70]">searchTest</td> 
  <td>TestNG-PoolService-1@277744077</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/07/11 23:43:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParallelTestsDataProvider.searchTest(java.lang.String)[pri:0, instance:testNG.TestNGParallelTestsDataProvider@2758fe70]">searchTest</td> 
  <td>TestNG-PoolService-1@277744077</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/07/11 23:43:00</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGParallelTestsDataProvider.setUpClass()[pri:0, instance:testNG.TestNGParallelTestsDataProvider@2758fe70]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1098673607</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>20/07/11 23:43:09</td>   <td>8725</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGParallelTestsDataProvider.tearDownClass()[pri:0, instance:testNG.TestNGParallelTestsDataProvider@2758fe70]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1098673607</td>   <td></td> </tr>
</table>
